.App {
  background-color: rgb(233, 239, 237, 0.5);
}
.container {
  display: flex;
  justify-content: center;
}
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
h1, p {
  color:  #470D21;
  font-family: 'Macondo', cursive;
}
p {
  font-size: 20px;
}

h2 {
  color: #79012b;
  font-family: 'Macondo', cursive;
  font-size: 24px;
  font-weight: bold;
}
.search {
  width: 100%;
  padding: 10px 10px;
  background-color: rgb(246, 227, 204);
  font-size: 18px;
  margin-left: 0px;
  box-shadow: 10px 5px 5px #d76675;
  border-radius: 8px;
  font-family: 'Macondo', cursive;
}
button {
  width: 40px;
  height: 40px;
  box-shadow: 10px 5px 5px #d76675;
  border-radius: 8px;
  border: none;
  padding: 0px;
  margin-top: 10px;
}
.icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.tasty {
  border: 0;
  border-radius: 10px;
  box-shadow: 10px 5px 5px #d76675;
}
.list {
  list-style: none;
  padding: 0;
  color: #6c1433;
  font-family: 'Macondo', cursive;
  font-size: 18px;
  margin-left: 120px;
}

